/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include "macropad33_layout.dtsi"

&macropad33_layout0 {
    transform = <&default_transform>;
};



/ {

    // chosen {
    //   zmk,battery = &vbatt;
    // };

    // vbatt: vbatt {
    //     compatible = "zmk,battery-nrf-vddh";
    // };    

    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &macropad33_layout0;
    };

    default_transform: matrix_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <4>;
        rows = <4>;

        map = <
            RC(0,0)
                    RC(1,1) RC(1,2) RC(1,3)
                    RC(2,1) RC(2,2) RC(2,3)
                    RC(3,1) RC(3,2) RC(3,3)
                    
                        
        >;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;

        diode-direction = "col2row";

        col-gpios
            = <&pro_micro 4 GPIO_ACTIVE_HIGH>
            , <&pro_micro 15 GPIO_ACTIVE_HIGH>
            , <&pro_micro 14 GPIO_ACTIVE_HIGH>
            , <&pro_micro 18 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

    left_encoder: encoder_left {
        compatible = "alps,ec11";
        b-gpios = <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        a-gpios = <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
        triggers-per-rotation = <20>;
    };

    //  vbatt: vbatt {
    //      status = "okay";
    //      compatible = "zmk,battery-voltage-divider";
    //      label = "Voltage Divider";
    //      io-channels = <&adc 5>;
    //      output-ohms = <1000000>;
    //      full-ohms = <3000000>;
    //  };
    
};